src/Makefile.in
src/autom4te.cache
src/aclocal.m4
src/compile
src/configure
src/depcomp
src/install-sh
src/missing
src/stamp-h1
src/Make.include
src/Makefile
src/config.log
src/config.status
src/include/config.h
src/include/irr_defs.h
src/include/pipeline_defs.h
src/include/stamp-h1
src/programs/IRRd/irrd
src/programs/irr_notify/irr_notify
src/programs/irr_rpsl_check/irr_rpsl_check
src/programs/irr_rpsl_check/lex.yy.c
src/programs/irr_rpsl_check/y.output
src/programs/irr_rpsl_check/y.tab.c
src/programs/irr_rpsl_check/y.tab.h
src/programs/irr_rpsl_submit/irr_rpsl_submit
*~
*.a
*.o
