
# RPSL new route fields

#ATTR	mo	member-of 
#ATTR	ij      inject         
#ATTR 	co      components  
#ATTR   ab      aggr-bndry
#ATTR	ar	aggr-mtd
#ATTR	ec	export-comps

# domain

ATTR	dn	domain
ATTR	zc	zone-c
ATTR	ns	nserver
ATTR	sd	sub-dom
ATTR	di	dom-net
ATTR    rf      refer

# inetnum

ATTR	in	inetnum
ATTR	na	netname
ATTR	cy	country
ATTR	ay	aut-sys
ATTR	ii	ias-int
ATTR	gw	gateway
ATTR	rz	rev-srv
ATTR	su	status

# repository fields

ATTR	re	repository
ATTR	qa	query-address
ATTR	ru	response-auth-type
ATTR	sa	submit-address
ATTR    st      submit-auth-type
ATTR	rc	repository-cert
ATTR	ex	expire
ATTR	hi	heartbeat-interval
ATTR	ra	reseed-address

# key-cert fields

ATTR	kc	key-cert
ATTR	mh	method
ATTR	ow	owner
ATTR	fp	fingerpr
ATTR	ct	certif

# RPSL new dictionary fields


ATTR    dc      dictionary
ATTR	ac	admin-c
ATTR    td      typedef
ATTR	rp	rp-attribute
ATTR    pl      protocol
ATTR    en      encapsulation

ATTR	ch	changed
ATTR	de	descr
ATTR    ho      holes
ATTR    mb      mnt-by
ATTR	ny	notify
ATTR    or      origin
ATTR	rm	remarks
ATTR    rt      route
ATTR	so	source
ATTR	mo	member-of 
ATTR	ij      inject         
ATTR 	co      components  
ATTR    ab      aggr-bndry
ATTR	ar	aggr-mtd
ATTR	ec	export-comps

# aut-num fields
ATTR	an	aut-num
ATTR    aa  	as-name
ATTR    ip      import
ATTR    ep      export
ATTR	df	default
ATTR	tc	tech-c
ATTR	mf	member-of

# inet-rtr fields
ATTR    ir      inet-rtr
ATTR    az      alias
ATTR    la      local-as
ATTR    if      ifaddr
ATTR    pe      peer
ATTR	mr	member-of
ATTR	ri	rs-in
ATTR	rx	rs-out

# as-set fields
ATTR    as      as-set 
ATTR    ms      members
ATTR    my      mbrs-by-ref

# rs-set fields
ATTR    rs      route-set
ATTR    me      members

# rtr-set fields
ATTR    rr      rtr-set
ATTR    mg      members

# peering-set fields
ATTR	ps	peering-set
ATTR	pr	peering

# filter-set fields
ATTR	fs	filter-set
ATTR	fr	filter

# person fields
ATTR	pn	person
ATTR	ad	address
ATTR	ph	phone
ATTR	fx	fax-no
ATTR	em	e-mail
ATTR	nh	nic-hdl

# role fields
ATTR	ro	role
ATTR	tb	trouble

# maintainer fields
ATTR	mt	mntner
ATTR	dt	upd-to
ATTR	mn	mnt-nfy
ATTR	at	auth

#
# Attributes with u* short names are special!
# They all have hardcoded side effects, so do NOT change them
# unless you know what you are doing

ATTR	ud	delete		# delete operation
ATTR	uo	override	# override all security for updates
ATTR	up	password	# password
ATTR	uc	cookie		# system info


#       route
#
OBJ     rt      ATSQ    rt de ac tc or ho mo ij co ab ar ec rm ny mb ch so
OBJ	rt	ATSQ	ud uo up uc
OBJ     rt      MAND    rt de or mb ch so
OBJ     rt      MULT    tc ac mo ij ho rm ny ch mb


#       dictionary
#
OBJ     dc      ATSQ    dc de ac tc td rp pl en rm ny mb ch so
OBJ	dc	ATSQ	ud uo up uc
OBJ     dc      MAND    dc de tc mb ch so
OBJ     dc      MULT    tc ac rm rp pl td en ny mb ch


#	aut-num
#
OBJ     an      ATSQ    an aa de ac tc mf ip ep df
OBJ     an      ATSQ    rm ny mb ch so
OBJ	an	ATSQ	ud uo up uc
OBJ     an      MAND    an de ac tc mb ch so
OBJ     an      MULT    df mf ip ep ac tc rm ch ny mb

#       inet-rtr
#
OBJ     ir      ATSQ    ir de az la if pe mr ri rx ac tc rm ny mb ch so
OBJ	ir	ATSQ	ud uo up uc
OBJ     ir      MAND    ir la if tc mb ch so
OBJ     ir      MULT    if az pe mr tc ac rm ny ch mb

#	as-set
#
OBJ     as      ATSQ    as de ms my rm ac tc ny mb ch so
OBJ	as	ATSQ	ud uo up uc
OBJ     as      MAND    as de tc mb ch so
OBJ     as      MULT    ms my tc ac rm ny ch mb

#	route-set
#
OBJ     rs      ATSQ    rs de me my rm ac tc ny mb ch so
OBJ	rs	ATSQ	ud uo up uc
OBJ     rs      MAND    rs de tc mb ch so
OBJ     rs      MULT    me my tc ac rm ny ch mb

#	rtr-set
#
OBJ     rr      ATSQ    rr de mg my rm ac tc ny mb ch so
OBJ	rr	ATSQ	ud uo up uc
OBJ     rr      MAND    rr de tc mb ch so
OBJ     rr      MULT    mg my tc ac rm ny ch mb

#	peering-set
#
OBJ     ps      ATSQ    ps pr de rm ac tc ny mb ch so
OBJ	ps	ATSQ	ud uo up uc
OBJ     ps      MAND    ps pr de tc mb ch so
OBJ     ps      MULT    pr tc ac rm ny ch mb

#	filter-set
#
OBJ     fs      ATSQ    fs fr de rm ac tc ny mb ch so
OBJ	fs	ATSQ	ud uo up uc
OBJ     fs      MAND    fs fr de tc mb ch so
OBJ     fs      MULT    tc ac rm ny ch mb

#	person
#
OBJ	pn	ATSQ	pn ad ph fx em nh rm ny mb ch so
OBJ	pn	ATSQ	ud uo up uc
OBJ	pn	MAND	pn ad ph nh mb ch so
OBJ	pn	MULT	ad em fx ph rm ny ch mb

#	role
#
OBJ	ro	ATSQ	ro ad ph fx em tb nh ac tc rm ny mb ch so
OBJ	ro	ATSQ	ud uo up uc 
OBJ	ro	MAND	ro nh ad ph em tc mb ch so   
OBJ	ro	MULT	ad em fx ph tb tc ac rm ny mb ch

#       maintainer
#
OBJ     mt      ATSQ    mt de ac tc dt mn at rm ny mb ch so
OBJ	mt	ATSQ	ud uo up uc
OBJ     mt      MAND    mt tc dt at de mb ch so
OBJ     mt      MULT    dt mn at tc ac rm ny mb ch

#	key-cert
#
OBJ	kc	ATSQ	kc mh ow fp ct rm ny mb ch so
OBJ	kc	ATSQ	ud uo up uc
OBJ	kc	MAND	kc ct mb ch so
OBJ	kc	MULT	ow rm ny mb ch

#	repository
#
OBJ	re	ATSQ	re qa ru sa st rc ex hi ra de rm ac tc ny mb ch so
OBJ	re	ATSQ	ud uo up uc
OBJ	re	MAND	re qa ru sa st rc ex hi ra de tc mb ch so
OBJ	re	MULT	qa ru sa st rc ra tc ac rm ny ch mb

#	inetnum
#
OBJ	in	ATSQ	in na de cy ac tc ay ii gw rz
OBJ	in	ATSQ	su rm ny mb ch so
OBJ	in	ATSQ	ud uo up uc
OBJ	in	MAND	in su ac tc ch de cy na mb so
OBJ	in	MULT	ac ch cy rm rz tc ny mb

#	domain
#
OBJ	dn	ATSQ	dn de ac tc zc ns sd di rm ny mb rf ch so
OBJ	dn	ATSQ	ud uo up uc
OBJ	dn	MAND	dn de ac tc zc ch so
OBJ	dn	MULT	ac ch di ns rm sd tc zc ny mb

