# RPSL common attributes
ATTR	ch	changed
ATTR	de	descr
ATTR	ac	admin-c
ATTR	tc	tech-c
ATTR	mb	mnt-by
ATTR	ny	notify
ATTR	or	origin
ATTR	rm	remarks
ATTR	so	source
ATTR	ph	phone
ATTR	fx	fax-no
ATTR	em	e-mail
ATTR	nh	nic-hdl

# RFC2769 attributes -- not used yet
ATTR	dl	delegated
ATTR	it	integrity

# RFC2725 attributes -- not used yet
ATTR	ml	mnt-lower
ATTR	mr	mnt-routes
ATTR	rl	reclaim
ATTR	nr	no-reclaim
ATTR	rb	referral-by
ATTR	ay	auth-override

# repository fields
ATTR	re	repository
ATTR	qa	query-address
ATTR	ru	response-auth-type
ATTR	sa	submit-address
ATTR    su      submit-auth-type
ATTR	rc	repository-cert
ATTR	ep	expire
ATTR	hi	heartbeat-interval

# domain fields
ATTR	dn	domain
ATTR	zc	zone-c
ATTR	ns	nserver
ATTR	sd	sub-dom
ATTR	di	dom-net
ATTR	rf	refer

# inetnum fields
ATTR	in	inetnum
ATTR	na	netname
ATTR	cy	country
ATTR	rz	rev-srv
ATTR	st	status

# inet6num fields
ATTR	i6	inet6num

# key-cert fields
ATTR	kc	key-cert
ATTR	mh	method
ATTR	ow	owner
ATTR	fp	fingerpr
ATTR	ce	certif

# RPSL dictionary fields
ATTR    dc      dictionary
ATTR    td      typedef
ATTR	rp	rp-attribute
ATTR    pl      protocol
# RPSLng introduces afi dictionary attribute
ATTR	af	afi

# route / route6
ATTR    rt      route
ATTR    r6      route6
ATTR	ho	holes
ATTR	ij	inject         
ATTR	mo	member-of 
ATTR 	co	components  
ATTR	ab	aggr-bndry
ATTR	ag	aggr-mtd
ATTR	ec	export-comps

# aut-num fields
# RPSLng introduces mp-import and mp-export
ATTR	an	aut-num
ATTR    aa  	as-name
ATTR    ip      import
ATTR	mi	mp-import
ATTR    ex      export
ATTR	mx	mp-export
ATTR	df	default
ATTR	md	mp-default
ATTR	ma	member-of

# as-block fields
ATTR	ak	as-block

# inet-rtr fields
ATTR    ir      inet-rtr
ATTR    az      alias
ATTR    la      local-as
ATTR    if      ifaddr
ATTR    pe      peer
ATTR	mz	member-of
# mp-peer and interface in RPSLng attribute
ATTR    pm      mp-peer
ATTR	ie	interface
# Route Server specific attributes for inet-rtr class -ljb
ATTR	ri	rs-in
ATTR	rx	rs-out

# set common attrs
ATTR    my      mbrs-by-ref

# as-set fields
ATTR    as      as-set 
ATTR	ms	members

# route-set fields
ATTR    rs      route-set
ATTR	me	members
# mp-members is a RPSLng attribute
ATTR    mm	mp-members

# rtr-set fields
ATTR    is      rtr-set
ATTR	mg	members
# mp-members is a RPSLng attribute
ATTR    mj	mp-members

# peering-set fields
ATTR	ps	peering-set
ATTR	pg	peering
# mp-peering for RPSLng
ATTR	mp	mp-peering

# filter-set fields
ATTR	fs	filter-set
ATTR	fi	filter
# mp-filter for RPSLng
ATTR	mf	mp-filter

# person fields
ATTR	pn	person
ATTR	ad	address

# role fields
ATTR	ro	role
ATTR	tb	trouble

# mntner fields
ATTR	mt	mntner
ATTR	dt	upd-to
ATTR	mn	mnt-nfy
ATTR	at	auth

# ipv6-site - 6bone object - no parser support, largely redundant with RPSLng
ATTR	s6	ipv6-site
ATTR	lo	location
ATTR	pr	prefix
ATTR	ap	application
ATTR	tu	tunnel
ATTR	ct	contact
ATTR	ul	url

# limerick fields - RIPE humor - unlikely to be supported by parser
ATTR	li	limerick
ATTR	te	text
ATTR	au	author

#
# Attributes with u* short names are special!
# They all have hardcoded side effects, so do NOT change them
# unless you know what you are doing

ATTR	ud	delete		# delete operation
ATTR	uo	override	# override all security for updates
ATTR	up	password	# password
ATTR	uc	cookie		# system info

#	aut-num
#
#OBJ	an	ATSQ	an aa de ma ip mi ex mx df md ml mr rl nr dl ac tc
OBJ	an	ATSQ	an aa de ma ip mi ex mx df md ac tc
OBJ	an	ATSQ	rm ny mb ch so
OBJ	an	ATSQ	ud uo up uc
OBJ     an      MAND    an aa de ac tc mb ch so
OBJ     an      MULT    ma ip mi ex mx df md ac tc rm ny mb ch
#OBJ     an      MULT    ma ip mi ex mx df md ac tc rm ny ml mr rl nr dl mb ch

#	as-set
#
OBJ     as      ATSQ    as de ms my ac tc
OBJ	as	ATSQ	rm ny mb ch so
OBJ	as	ATSQ	ud uo up uc
OBJ     as      MAND    as de mb ch so
OBJ     as      MULT    ms my ac tc rm ny ch mb

#       mntner
#
#OBJ     mt      ATSQ    mt de ac tc dt mn at ay rb
OBJ     mt      ATSQ    mt de ac tc dt mn at
OBJ	mt	ATSQ	rm ny mb ch so
OBJ	mt	ATSQ	ud uo up uc
OBJ     mt      MAND    mt de ac dt at mb ch so
OBJ     mt      MULT    ac tc dt mn at rm ny mb ch

#       route
#
#OBJ     rt      ATSQ    rt de or ho mo ij ab ag ec co ml mr rl nr dl ac tc
OBJ     rt      ATSQ    rt de or ho mo ij ab ag ec co ac tc
OBJ	rt	ATSQ	rm ny mb ch so
OBJ	rt	ATSQ	ud uo up uc
OBJ     rt      MAND    rt de or mb ch so
OBJ     rt      MULT    ho mo ij ac tc rm ny mb ch
#OBJ     rt      MULT    ho mo ij ac tc rm ny ml mr rl nr dl mb ch

#       route6
#
#OBJ     r6      ATSQ    r6 de or ho mo ij ab ag ec co ml mr rl nr dl ac tc
OBJ     r6      ATSQ    r6 de or ho mo ij ab ag ec co ac tc
OBJ	r6	ATSQ	rm ny mb ch so
OBJ	r6	ATSQ	ud uo up uc
OBJ     r6      MAND    r6 de or mb ch so
OBJ     r6      MULT    ho mo ij ac tc rm ny mb ch
#OBJ     r6      MULT    ho mo ij ac tc rm ny ml mr rl nr dl mb ch

#	route-set
#
OBJ     rs      ATSQ    rs me mm my de ac tc
OBJ	rs	ATSQ	rm ny mb ch so
OBJ	rs	ATSQ	ud uo up uc
OBJ     rs      MAND    rs de mb ch so
OBJ     rs      MULT    me mm my ac tc rm ny ch mb

#       inet-rtr
#
OBJ     ir      ATSQ    ir de az la if ie pe pm mz ri rx ac tc
OBJ	ir	ATSQ	rm ny mb ch so
OBJ	ir	ATSQ	ud uo up uc
OBJ     ir      MAND    ir la mb ch so
OBJ     ir      MULT    if ie az pe pm mz ac tc rm ny mb ch

#	rtr-set
#
OBJ     is      ATSQ    is de mg mj my ac tc
OBJ	is	ATSQ	rm ny mb ch so
OBJ	is	ATSQ	ud uo up uc
OBJ     is      MAND    is de mb ch so
OBJ     is      MULT    mg mj my ac tc rm ny ch mb

#	person
#
OBJ	pn	ATSQ	pn ad ph fx em nh
OBJ	pn	ATSQ	rm ny mb ch so
OBJ	pn	ATSQ	ud uo up uc
OBJ	pn	MAND	pn ad ph em nh mb ch so
OBJ	pn	MULT	ad em fx ph rm ny mb ch

#	role
#
OBJ	ro	ATSQ	ro tb ad ph fx em ac tc nh
OBJ	ro	ATSQ	rm ny mb ch so
OBJ	ro	ATSQ	ud uo up uc 
OBJ	ro	MAND	ro ad ph em nh mb ch so   
OBJ	ro	MULT	tb ad em fx ph ac tc rm ny mb ch

#	filter-set
#
OBJ	fs	ATSQ	fs de fi mf ac tc
OBJ	fs	ATSQ	rm ny mb ch so
OBJ	fs	ATSQ	ud uo up uc
OBJ     fs      MAND	fs fi de mb ch so
OBJ	fs	MULT	ac tc rm ny ch mb

#	peering-set
#
OBJ	ps	ATSQ	ps de pg mp ac tc
OBJ	ps	ATSQ	rm ny mb ch so
OBJ	ps	ATSQ	ud uo up uc
OBJ     ps      MAND    ps de mb ch so
OBJ     ps      MULT    pg mp ac tc rm ny ch mb

#	key-cert
#
OBJ	kc	ATSQ	kc mh ow fp ce
OBJ	kc	ATSQ	rm ny mb ch so
OBJ	kc	ATSQ	ud uo up uc
OBJ	kc	MAND	kc ce mb ch so
OBJ	kc	MULT	ow rm ny mb ch

#       dictionary
#
OBJ	dc	ATSQ	dc de ac tc td rp pl af
OBJ	dc	ATSQ	rm ny mb ch so
OBJ	dc	ATSQ	ud uo up uc
OBJ	dc	MAND	dc de mb ch so
OBJ	dc	MULT	rp pl af td ac tc rm ny mb ch

#	repository
#
OBJ	re	ATSQ	re qa ru sa su rc ep hi de ac tc
OBJ	re	ATSQ	rm ny mb ch so
OBJ	re	ATSQ	ud uo up uc
OBJ	re	MAND	re qa ru sa su rc ep hi ac tc mb ch so
OBJ	re	MULT	qa ru sa su rc dc rm ac tc ny mb ch

#	inetnum
#
#OBJ	in	ATSQ	in na de cy ac tc rz ml mr rl nr dl st
OBJ	in	ATSQ	in na de cy ac tc rz st
OBJ	in	ATSQ	rm ny mb ch so
OBJ	in	ATSQ	ud uo up uc
OBJ	in	MAND	in na de st cy ac tc mb ch so
OBJ	in	MULT	cy rm ac tc rz ny mb ch
#OBJ	in	MULT	cy rm ac tc rz ny ml mr rl nr dl mb ch

#	inet6num
#
#OBJ	i6	ATSQ	in na de cy ac tc rz ml mr rl nr dl st
OBJ     i6      ATSQ    i6 na de cy ac tc rz st
OBJ	i6	ATSQ	rm ny mb ch so
OBJ	i6	ATSQ	ud uo up uc
OBJ     i6      MAND    i6 na de cy ac tc st mb ch so
OBJ     i6      MULT    cy ac tc rm rz ny mb ch
#OBJ	i6	MULT	cy rm ac tc rz ny ml mr rl nr dl mb ch

#	as-block
#
#OBJ	ak	ATSQ    ak de ac tc ml rl nr dl
OBJ	ak	ATSQ    ak de ac tc
OBJ	ak      ATSQ    rm ny mb ch so
OBJ	ak	ATSQ	ud uo up uc
OBJ	ak	MAND    ak de ac tc mb ch so
OBJ	ak	MULT    de rm ac tc ny dl mb ch
#OBJ	ak	MULT    de rm ac tc ny ml mr rl nr dl mb ch

#       domain
#
#OBJ	dn	ATSQ	dn de ac tc zc ns sd di rf ml
OBJ	dn	ATSQ	dn de ac tc zc ns sd di rf
OBJ	dn	ATSQ	rm ny mb ch so
OBJ	dn	ATSQ	ud uo up uc
OBJ	dn	MAND	dn de ac tc zc ch so
OBJ	dn	MULT	ac ch di ns rm sd tc zc ny mb
#OBJ	dn	MULT	ac ch di ns rm sd tc zc ny mb ml

#	limerick
#
OBJ	li	ATSQ	li de te ac au
OBJ	li	ATSQ	rm ny mb ch so
OBJ	li	ATSQ	ud uo up uc
OBJ	li	MAND	li te ac au mb ch so
OBJ	li	MULT	de te ac au rm ny mb ch

#	ipv6-site
#
OBJ	s6	ATSQ	s6 or de lo cy pr ap tu ct ul
OBJ	s6	ATSQ	rm ny mb ch so
OBJ	s6	ATSQ	ud uo up uc
OBJ	s6	MAND	s6 or de ct mb ch so
OBJ	s6	MULT	de lo cy pr ap tu ct rm ul ny mb ch

# List of valid Country codes
#

COUNTRY AD
COUNTRY AE
COUNTRY AF
COUNTRY AG
COUNTRY AI
COUNTRY AL
COUNTRY AM
COUNTRY AN
COUNTRY AO
COUNTRY AQ
COUNTRY AR
COUNTRY AS
COUNTRY AT
COUNTRY AU
COUNTRY AW
COUNTRY AZ
COUNTRY BA
COUNTRY BB
COUNTRY BD
COUNTRY BE
COUNTRY BF
COUNTRY BG
COUNTRY BH
COUNTRY BI
COUNTRY BJ
COUNTRY BM
COUNTRY BN
COUNTRY BO
COUNTRY BR
COUNTRY BS
COUNTRY BT
COUNTRY BV
COUNTRY BW
COUNTRY BY
COUNTRY BZ
COUNTRY CA
COUNTRY CC
COUNTRY CD
COUNTRY CF
COUNTRY CG
COUNTRY CH
COUNTRY CI
COUNTRY CK
COUNTRY CL
COUNTRY CM
COUNTRY CN
COUNTRY CO
COUNTRY CR
COUNTRY CU
COUNTRY CV
COUNTRY CX
COUNTRY CY
COUNTRY CZ
COUNTRY DE
COUNTRY DJ
COUNTRY DK
COUNTRY DM
COUNTRY DO
COUNTRY DZ
COUNTRY EC
COUNTRY EE
COUNTRY EG
COUNTRY EH
COUNTRY ER
COUNTRY ES
COUNTRY ET
COUNTRY EU
COUNTRY FI
COUNTRY FJ
COUNTRY FK
COUNTRY FM
COUNTRY FO
COUNTRY FR
COUNTRY FX
COUNTRY GA
COUNTRY GB
COUNTRY GD
COUNTRY GE
COUNTRY GF
COUNTRY GH
COUNTRY GI
COUNTRY GL
COUNTRY GM
COUNTRY GN
COUNTRY GP
COUNTRY GQ
COUNTRY GR
COUNTRY GS
COUNTRY GT
COUNTRY GU
COUNTRY GW
COUNTRY GY
COUNTRY HK
COUNTRY HM
COUNTRY HN
COUNTRY HR
COUNTRY HT
COUNTRY HU
COUNTRY ID
COUNTRY IE
COUNTRY IL
COUNTRY IN
COUNTRY IO
COUNTRY IQ
COUNTRY IR
COUNTRY IS
COUNTRY IT
COUNTRY JM
COUNTRY JO
COUNTRY JP
COUNTRY KE
COUNTRY KG
COUNTRY KH
COUNTRY KI
COUNTRY KM
COUNTRY KN
COUNTRY KP
COUNTRY KR
COUNTRY KW
COUNTRY KY
COUNTRY KZ
COUNTRY LA
COUNTRY LB
COUNTRY LC
COUNTRY LI
COUNTRY LK
COUNTRY LR
COUNTRY LS
COUNTRY LT
COUNTRY LU
COUNTRY LV
COUNTRY LY
COUNTRY MA
COUNTRY MC
COUNTRY MD
COUNTRY MG
COUNTRY MH
COUNTRY MK
COUNTRY ML
COUNTRY MM
COUNTRY MN
COUNTRY MO
COUNTRY MP
COUNTRY MQ
COUNTRY MR
COUNTRY MS
COUNTRY MT
COUNTRY MU
COUNTRY MV
COUNTRY MW
COUNTRY MX
COUNTRY MY
COUNTRY MZ
COUNTRY NA
COUNTRY NC
COUNTRY NE
COUNTRY NF
COUNTRY NG
COUNTRY NI
COUNTRY NL
COUNTRY NO
COUNTRY NP
COUNTRY NR
COUNTRY NU
COUNTRY NZ
COUNTRY OM
COUNTRY PA
COUNTRY PE
COUNTRY PF
COUNTRY PG
COUNTRY PH
COUNTRY PK
COUNTRY PL
COUNTRY PM
COUNTRY PN
COUNTRY PR
COUNTRY PS
COUNTRY PT
COUNTRY PW
COUNTRY PY
COUNTRY QA
COUNTRY RE
COUNTRY RO
COUNTRY RU
COUNTRY RW
COUNTRY SA
COUNTRY SB
COUNTRY SC
COUNTRY SD
COUNTRY SE
COUNTRY SG
COUNTRY SH
COUNTRY SI
COUNTRY SJ
COUNTRY SK
COUNTRY SL
COUNTRY SM
COUNTRY SN
COUNTRY SO
COUNTRY SR
COUNTRY ST
COUNTRY SV
COUNTRY SY
COUNTRY SZ
COUNTRY TC
COUNTRY TD
COUNTRY TF
COUNTRY TG
COUNTRY TH
COUNTRY TJ
COUNTRY TK
COUNTRY TM
COUNTRY TN
COUNTRY TO
COUNTRY TP
COUNTRY TR
COUNTRY TT
COUNTRY TV
COUNTRY TW
COUNTRY TZ
COUNTRY UA
COUNTRY UG
COUNTRY UM
COUNTRY US
COUNTRY UY
COUNTRY UZ
COUNTRY VA
COUNTRY VC
COUNTRY VE
COUNTRY VG
COUNTRY VI
COUNTRY VN
COUNTRY VU
COUNTRY WF
COUNTRY WS
COUNTRY YE
COUNTRY YT
COUNTRY YU
COUNTRY ZA
COUNTRY ZM
COUNTRY ZW

