
# repository fields

ATTR	re	repository
ATTR	qa	query-address
ATTR	ru	response-auth-type
ATTR	sa	submit-address
ATTR    su      submit-auth-type
ATTR	rc	repository-cert
ATTR	ep	expire
ATTR	hi	heartbeat-interval

# domain fields

ATTR	dn	domain
ATTR	zc	zone-c
ATTR	ns	nserver
ATTR	sd	sub-dom
ATTR	di	dom-net
ATTR    rf      refer

# inetnum fields

ATTR	in	inetnum
ATTR	na	netname
ATTR	cy	country
ATTR	rz	rev-srv
ATTR	st	status

# inet6num fields

ATTR	i6	inet6num

# key-cert fields

ATTR	kc	key-cert
ATTR	mh	method
ATTR	ow	owner
ATTR	fp	fingerpr
ATTR	ce	certif

# RPSL new dictionary fields

ATTR    dc      dictionary
ATTR    td      typedef
ATTR	rp	rp-attribute
ATTR    pl      protocol

# RPSL common attributes

ATTR	ch	changed
ATTR	de	descr
ATTR	ac	admin-c
ATTR	tc	tech-c
ATTR    mb      mnt-by
ATTR	ny	notify
ATTR    or      origin
ATTR	rm	remarks
ATTR	so	source
ATTR	ph	phone
ATTR	fx	fax-no
ATTR	em	e-mail
ATTR	nh	nic-hdl
ATTR	mo	member-of 
ATTR    ms      members
ATTR 	co      components  
ATTR    ab      aggr-bndry
ATTR	ag	aggr-mtd
ATTR	ec	export-comps

# RFC2769 common attributes
ATTR	dl	delegated
ATTR	it	integrity

# RFC2725 common attributes
ATTR	ml	mnt-lower
ATTR	mu	mnt-routes
ATTR	rl	reclaim
ATTR	nr	no-reclaim

# route fields 
ATTR    rt      route
ATTR    ho      holes
ATTR	ij      inject         

# aut-num fields
ATTR	an	aut-num
ATTR    aa  	as-name
ATTR    ip      import
ATTR    ex      export
ATTR	df	default

# as-block fields
ATTR	ak	as-block

# inet-rtr fields
ATTR    ir      inet-rtr
ATTR    az      alias
ATTR    la      local-as
ATTR    if      ifaddr
ATTR    pe      peer

# Route Server specific attributes for inet-rtr class -ljb
ATTR	ri	rs-in
ATTR	rx	rs-out

# as-set fields
ATTR    as      as-set 
ATTR    mr      mbrs-by-ref

# rs-set fields
ATTR    rs      route-set

# rtr-set fields
ATTR    is      rtr-set

# peering-set fields
ATTR	ps	peering-set
ATTR	pg	peering

# filter-set fields
ATTR	fs	filter-set
ATTR	fi	filter

# person fields
ATTR	pn	person
ATTR	ad	address

# role fields
ATTR	ro	role
ATTR	tb	trouble

# mntner fields
ATTR	mt	mntner
ATTR	dt	upd-to
ATTR	mn	mnt-nfy
ATTR	at	auth
ATTR	rb	referral-by
ATTR	ay	auth-override

#
# Attributes with u* short names are special!
# They all have hardcoded side effects, so do NOT change them
# unless you know what you are doing

ATTR	ud	delete		# delete operation
ATTR	uo	override	# override all security for updates
ATTR	up	password	# password
ATTR	uc	cookie		# system info

#	aut-num
#
OBJ     an      ATSQ    an aa de ac tc mo ip ex df ml mu rl nr dl
OBJ     an      ATSQ    rm ny mb it ch so
OBJ	an	ATSQ	ud uo up uc
OBJ     an      MAND    an aa de ac tc mb ch so
OBJ     an      MULT    de mo ip ex df rm ac tc ny ml mu rl nr dl mb ch

#	as-block
#
OBJ     an      ATSQ    ak de ac tc ml rl nr dl
OBJ     an      ATSQ    rm ny mb it ch so
OBJ	an	ATSQ	ud uo up uc
OBJ     an      MAND    ak de ac tc mb ch so
OBJ     an      MULT    de rm ac tc ny ml mu rl nr dl mb ch

#       route
#
OBJ     rt      ATSQ    rt de ac tc or ho mo ij ab ag ec co ml mu rl nr dl
OBJ	rt	ATSQ	rm ny mb it ch so
OBJ	rt	ATSQ	ud uo up uc
OBJ     rt      MAND    rt de or tc mb ch so
OBJ     rt      MULT    ac tc ho mo ij rm ny ml mu rl nr dl mb ch

#       mntner
#
OBJ     mt      ATSQ    mt de at dt mn tc ac ay rb
OBJ	mt	ATSQ	rm ny mb it ch so
OBJ	mt	ATSQ	ud uo up uc
OBJ     mt      MAND    mt de ac tc at dt mb rb ch so
OBJ     mt      MULT    at dt mn ac tc rm ny mb ch

#       inet-rtr
#
OBJ     ir      ATSQ    ir de az la if pe ri rx ac tc mo
OBJ	ir	ATSQ	rm ny mb it ch so
OBJ	ir	ATSQ	ud uo up uc
OBJ     ir      MAND    ir la if tc mb ch so
OBJ     ir      MULT    if az pe mo tc ac rm ny mb ch

#	person
#
OBJ	pn	ATSQ	pn nh ad ph fx em
OBJ	pn	ATSQ	rm ny mb it ch so
OBJ	pn	ATSQ	ud uo up uc
OBJ	pn	MAND	pn nh ad ph em mb ch so
OBJ	pn	MULT	ad em fx ph rm ny mb ch

#	role
#
OBJ	ro	ATSQ	ro nh tb ad ph fx em ac tc
OBJ	ro	ATSQ	rm ny mb it ch so
OBJ	ro	ATSQ	ud uo up uc 
OBJ	ro	MAND	ro nh ad ph em tc mb ch so   
OBJ	ro	MULT	tb ad em fx ph tc ac rm ny mb ch

#	inetnum
#
OBJ	in	ATSQ	in na de cy ac tc rz ml mu rl nr dl st
OBJ	in	ATSQ	rm ny mb it ch so
OBJ	in	ATSQ	ud uo up uc
OBJ	in	MAND	in na de st cy ac tc mb ch so
OBJ	in	MULT	cy rm ac tc rz ny ml mu rl nr dl mb ch

#       domain
#
OBJ	dn	ATSQ	dn de ac tc zc ns sd di rf ml
OBJ	dn	ATSQ	rm ny mb it ch so
OBJ	dn	ATSQ	ud uo up uc
OBJ	dn	MAND	dn de ac tc zc ch so
OBJ	dn	MULT	ac ch di ns rm sd tc zc ny mb ml

#	as-set
#
OBJ     as      ATSQ    as de ac tc ms mr
OBJ	as	ATSQ	rm ny mb it ch so
OBJ	as	ATSQ	ud uo up uc
OBJ     as      MAND    as de tc mb ch so
OBJ     as      MULT    ms mr tc ac rm ny ch mb

#	route-set
#
OBJ     rs      ATSQ    rs de ac tc ms mr
OBJ	rs	ATSQ	rm ny mb it ch so
OBJ	rs	ATSQ	ud uo up uc
OBJ     rs      MAND    rs de tc mb ch so
OBJ     rs      MULT    ms mr tc ac rm ny ch mb


#	filter-set
#
OBJ     fs      ATSQ    fs fi de ac tc
OBJ	fs	ATSQ	rm ny mb it ch so
OBJ	fs	ATSQ	ud uo up uc
OBJ     fs      MAND    fs fi de tc mb ch so
OBJ     fs      MULT    tc ac rm ny ch mb

#	rtr-set
#
OBJ     is      ATSQ    is de ac tc ms mr
OBJ	is	ATSQ	rm ny mb it ch so
OBJ	is	ATSQ	ud uo up uc
OBJ     is      MAND    is de tc mb ch so
OBJ     is      MULT    ms mr tc ac rm ny ch mb

#	peering-set
#
OBJ     ps      ATSQ    ps pg de ac tc
OBJ	ps	ATSQ	rm ny mb it ch so
OBJ	ps	ATSQ	ud uo up uc
OBJ     ps      MAND    ps pg de tc mb ch so
OBJ     ps      MULT    pg tc ac rm ny ch mb

#	key-cert
#
OBJ	kc	ATSQ	kc mh ow fp ce
OBJ	kc	ATSQ	rm ny mb it ch so
OBJ	kc	ATSQ	ud uo up uc
OBJ	kc	MAND	kc ce mb ch so
OBJ	kc	MULT	ow rm ny mb ch

#       dictionary
#
OBJ     dc      ATSQ    dc de ac tc td rp pl
OBJ	dc	ATSQ	rm ny mb it ch so
OBJ	dc	ATSQ	ud uo up uc
OBJ     dc      MAND    dc de tc mb ch so
OBJ     dc      MULT    tc ac rp pl td rm ny mb ch

#	repository
#
OBJ	re	ATSQ	re qa ru sa su rc ep hi de ac tc
OBJ	re	ATSQ	rm ny mb it ch so
OBJ	re	ATSQ	ud uo up uc
OBJ	re	MAND	re qa ru sa su rc ep hi ac tc mb ch so
OBJ	re	MULT	qa ru sa su rc dc rm ac tc ny mb ch

#	inet6num
#
OBJ     i6      ATSQ    i6 na de cy ac tc rz st
OBJ	i6	ATSQ	rm ny mb it ch so
OBJ	i6	ATSQ	ud uo up uc
OBJ     i6      MAND    i6 na de cy ac tc st mb ch so
OBJ     i6      MULT    cy ac tc rm rz ny mb ch
